body {
    overflow-y: hidden;
    background: #2d2d2d; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Wrapper {
    display: flex;

    > form, > iframe {
        width: 33%;
        padding: 20px;
    }
}

.Upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        background: #181818;
        border: none;
        outline: none;
        user-select: auto;
        color: white;
    }

    button {
        margin-top: 20px;
        background: #181818;
        outline: none;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}